


*{
    font-size: 10pt;
    font-family: sans-serif;
    font-weight: 300;
}

a:link {
    color: blue;
    text-decoration: none;
}

a:visited {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

hr {height:1px; 
    border-width:0; 
    background-color:lightgray;}



table {
    border-collapse: collapse;
}

th, td{
    padding: 4px;
    border: 1px solid #eeeeee;
}

th{
    font-weight: 600;
}

/*

.table1 tr{
    text-align: center;
    border-bottom: 1pt solid #dddddd;
}

.table2 tr{
    text-align: left;
    border-bottom: 1pt solid #dddddd;
}

.table2 th{
    font-weight: bold;
}


.table3 tr{
    border-bottom: 1pt solid #dddddd;
}

.table3 td{
    border: 1pt solid #dddddd;
    text-align: left;
    padding: 4px;
}

.table3 th{
    border: 1pt solid #dddddd;
    text-align: left;
    padding: 4px;
}

.input1{
    width: 50px;
    text-align: right;
    border: none;
    margin-top: 0px;
    margin-bottom: 0px;
}


*/