


*{
    font-size: 10pt;
    font-family: sans-serif;
    font-weight: 300;
}

a:link {
    color: blue;
    text-decoration: none;
}

a:visited {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

hr {height:1px; 
    border-width:0; 
    background-color:lightgray;}


table {
    border-collapse: collapse;
}

th, td{
    padding: 4px 4px; /* tb lr */
    border: 1px solid #dddddd;
    white-space: nowrap;
}

th{
    font-weight: 600;
    background-color: #eeeeee;
    color:#555555;
    white-space: nowrap;
}

.table1 th{
    text-align: center;
    /*font-weight: 600;*/
}

.table1 td{
    text-align: center;
}


.table2 th{
    text-align: left;
    /*font-weight: 600;*/
}

.table2 td{
    text-align: left;
}

.input1{
    width: 60px;
    text-align: center;
}

.h1{
    font-size:  12pt;
    font-weight: 600;
    color:#444444;
}

