
*{
    font-size: 10pt;
    font-family: sans-serif;
    font-weight: 300;
}

a:link {
    color: blue;
    text-decoration: none;
}

a:visited {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}


table {
    border-collapse: collapse;
}

th, td{
    padding: 4px;
}

th{
    font-weight: bold;
}



.table1 tr{
    text-align: center;
    border-bottom: 1pt solid #dddddd;
}

.table2 tr{
    text-align: left;
    border-bottom: 1pt solid #dddddd;
}

.table2 th{
    font-weight: bold;
}


.table3 tr{
    border-bottom: 1pt solid #dddddd;
}

.table3 td{
    border: 1pt solid #dddddd;
    text-align: left;
    padding: 3px;
}

.table3 th{
    border: 1pt solid #dddddd;
    text-align: left;
    padding: 3px;
}

.input1{
    width: 50px;
    text-align: right;
    border: none;
    margin-top: 0px;
    margin-bottom: 0px;
}


